@import url(//fonts.googleapis.com/css?family=Dosis|Pacifico|Great+Vibes);
/* COLORS */
/* DIMENSIONS */
html, body {
  font: 100% Helvetica, sans-serif;
  margin: 0 auto;
  height: 100%; }

:any-link {
  text-decoration: none;
  color: #20457C; }

#root {
  height: 100%;
  padding-bottom: 30px;
  background-color: #ECDFBD;
  display: flex; }

.fullscreen {
  margin: 0 auto;
  width: 100%;
  height: 100%; }

#container {
  background-color: #ECDFBD;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-bottom: 15px; }

.list-header {
  display: block;
  font-size: 4.5vw;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 0;
  font-family: 'Great Vibes';
  width: 100%; }

.flickr-list {
  border: 1px solid black; }

.post {
  border: 1px solid grey;
  display: flex;
  background-color: #F2AE72; }
  .post span {
    white-space: nowrap;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 2.5vw; }
  .post .image-link {
    display: flex;
    justify-content: center;
    flex: 1 0 25%;
    padding: 10px;
    padding-right: 13px;
    background-color: rgba(0, 0, 0, 0.3); }
    .post .image-link .image {
      box-shadow: 3px 3px rgba(0, 0, 0, 0.7);
      max-width: 20vw; }
  .post .main-content {
    display: flex;
    width: 70%;
    flex: 1 0 70%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-left: 2px; }
    .post .main-content a {
      text-transform: capitalize; }
    .post .main-content h1 {
      font-family: 'Pacifico';
      width: 95%;
      font-size: 3.5vw;
      margin: 0 0 2px 10px;
      font-weight: normal;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: #20457C; }
  .post .detail-content {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    font-family: 'Dosis'; }
    .post .detail-content a {
      margin-left: 10px;
      margin-right: 10px;
      white-space: nowrap;
      font-size: 3vw; }

.search-container {
  margin: 0 0 20px 0; }
  .search-container .search-input {
    height: 5vh;
    width: 100%;
    font-family: 'Dosis';
    font-size: 3vh; }
  .search-container .search-suggestions-container {
    opacity: 0; }
  .search-container .search-suggestions-container-open {
    opacity: 1;
    transition: 1.5s; }
    .search-container .search-suggestions-container-open .search-suggestions-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: flex-start;
      list-style-type: none;
      padding: 0; }
      .search-container .search-suggestions-container-open .search-suggestions-list .search-suggestion {
        padding: 7px;
        margin: 5px;
        background-color: #F2AE72;
        color: #20457C;
        cursor: pointer; }

.search-container-open {
  margin: 2px 0 2px 0; }
